html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: wheat;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    position: sticky;
    overflow: hidden;

    /* width: 95%;
    height: 25%; */
    margin: auto;
    background-color: white;
    height: 64px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;

} 


.li-unstyled  {
    position: sticky;
    overflow: hidden;
    list-style-type: none;
    list-style: none;
}

/* Header */



header .header-content{
    position: sticky;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding-bottom: 20px;

}

.header-content{
    width: 85%;
}

.uberlogo {
    padding-left: 50%;
}

.header-content ul li{
    display: inline-block;
}

nav {
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: wheat;
    background-color: black;
    /* position: relative; */
    /* z-index: 2002; */
    height: 64px;
    box-sizing: border-box;
    padding-right: 0;
    top: 0;
}
.uberlogo{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
}
.taps li{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;

}

.taps li:hover{
    opacity: 0.5;
}
.taps a{
    float: left;
    display: inline;
    background: black;
    color:white;
    text-decoration: none;
}



li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
  } */
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
  padding-left:20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .body {
    padding-top: 102px;
  }

  /* body */
 

.wallet{
    flex-basis: 100%;
    width: 50%;
    margin-top: 20px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 24px;
    padding-top: 16px;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    color: black;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-radius: 15px;
    height: 150px;
    background-color: #eeeeee;

}

.wtitle{
    line-height: 16px;
    color:#6b6b6b;
    font-size: 16px;
    font-family:  system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-box-direction: normal;
}

.amount{
    padding-top: 10px;
    color: #000000;
    font-family:  system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 34px;
    text-align: center;

}

.rideinputs {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}









html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    /* width: 95%;
    height: 25%; */
    margin: auto;
    background-color: black;
    height: 64px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    top: 0;
}

.li-unstyled  {
    list-style-type: none;
}

/* Header */

header .header-content{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.header-content{
    width: 95%;
}

.uberlogo {
    padding-left: 50%;
}

.header-content ul li{
    display: inline-block;
}

nav {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #E2E2E2;
    background-color: #000000;
    position: relative;
    z-index: 2002;
    height: 64px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    top: 0;
}
.uberlogo{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
}

.signbut:hover{
    opacity: 0.5;
}

.logbut:hover{
    opacity: 0.5;
}
.signbut{
    transition: opacity .5s;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #000000;
    background-color: #FFFFFF;
    white-space: nowrap;
}

.logbut{
    transition: opacity .5s;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #FFFFFF;
    background-color: #000000;
    white-space: nowrap;
}