html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
                                            /* Create accounts pages style */
/*Sign Form Style*/
.Sign {
    padding: 30px;
    margin: 50px 150px;
    border: 1px solid;
    box-shadow: 5px 10px 8px 10px #888888;
}

.title {
    padding-bottom: 15px ;
    text-align: center;
    font-size: 50px;
}

/* input fields style*/
input[type=text], input[type=password], [type=tel], [type=date], select, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, [type=tel]:focus, input[type=password]:focus, select, textarea {
    background-color: #ddd;
    outline: none;
    border: 1px solid #ccc;
}

.gender {
    justify-content: space-between;
    line-height: 2em;
}

input[type=radio] {
    display: inline;
    padding: auto;
    justify-content: space-between;
    line-height: 50px;
}

.female {
    padding-left: 50px;
}

.other {
    padding-left: 50px;
}

/* button */
.next {
    background-color: #000000;
    color: white;
    min-height: 48px;
    padding: 14px 16px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    align-items: center;
    display: flex;
    box-sizing: inherit;
    font-family: Arial,sans-serif;
    appearance: auto;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
}

.next:hover {
    opacity: 0.5;
}

.captcha-container {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 0.5;
    font-size: 15px;
}
