*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    background:#F6F6F6;
}

                                                /****NavBar****/

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}


/*tabs*/
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover{
opacity:0.5;
}


/*Buttons div*/
.sign {
  float: right;
  margin-right:25px;
  overflow: hidden;
}

.sign-but:hover{
    opacity: 0.5;
}

.logout:hover{
    opacity: 0.5;
}

.sign-but{
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-width: 0;
    border-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #000000;
    background-color: white;
}

.log-but{
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-style: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    background-color: #000000;
}

/* section1 */

.section1{
    width: auto;
    height: auto;
     margin: 40px 50px;

}
.header{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f6f6f6;
    display: table;
        margin: 0;

}

.bi{
    margin: 0;
    display:block;
    float: right;
    padding-left:0 ;
    padding: 0;
    width:50%;
}
.header .bi img{
    /* display: block; */
    width: 100%;
    height: 100%;
}
.bh{
    background-color: #f6f6f6;
    display:inline-block;
    margin: 0;
    padding-top: 100px;
    padding-left: 7%;
}
.bh h1{
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: sans-serif;
    font-size: 200%;
    line-height: 3;
    /* color: currentColor; */
    margin: 0;
    width: 100%;
    opacity: 0.8;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    display: table-cell;

}

/* section2 */

.section2{
    width: auto;
    height: auto;
    margin: 40px 50px;
}

.login{
    display: block;
}
.driver{
    /* display: inline; */
    padding-top: 100px  ;
    padding-bottom: 100px;
    display: flex;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.rider{
    /* display: inline; */
    padding-top: 100px  ;
    padding-bottom: 100px;
    display: flex;
    border-bottom: 1px solid #000000;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.sign-driver {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    /* margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0.5px;
    margin-inline-end: 0px;  */
}


.sign-rider {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.driver:hover {
    opacity: 0.5;
}

.rider:hover {
    opacity: 0.5;
}

/* section */
section{
    width: auto;
    height: auto;
    margin: 40px 50px;

}
.driver{
    padding-top: 100px  ;
    padding-bottom: 100px;
    display: flex;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.rider{
    padding-top: 100px  ;
    padding-bottom: 100px;
    display: flex;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.signdriver {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0.5px;
    margin-inline-end: 0px;
}


.sign-rider {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.rider:hover {
    opacity: 0.5;
}

.driver:hover {
    opacity: 0.5;
}



/* body */
.Sign {
    padding: 30px;
    text-align: left;
    margin: 50px 150px;
    border: 1px solid;
    box-shadow: 5px 10px 8px 10px #888888;

}

.title {
    padding-bottom: 15px ;
}

/* Full-width input fields */
input[type=text], input[type=password], [type=tel], [type=date], select, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

  }

input[type=text]:focus, [type=tel]:focus, input[type=password]:focus, select, textarea {
    background-color: #ddd;
    outline: none;
    border: 1px solid #ccc;

}

.gender {
    justify-content: space-between;
    line-height: 2em;


}

input[type=radio] {
    display: inline;
    padding: auto;
    justify-content: space-between;
    line-height: 50px;
}

.female {
    padding-left: 50px;
}

.other {
    padding-left: 50px;
}



/* button */
.next {
    background-color: #000000;
    color: white;
    min-height: 48px;
    padding: 14px 16px;
    font-weight: 500;
    transition: background 200ms cubic-bezier(0, 0, 1, 1);
    line-height: 20px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    box-sizing: inherit;
    font-family: Arial,sans-serif;
    appearance: auto;
    width: 100%;
    border: none;
    padding: 15px;
    margin: 5px 0 22px 0;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
}

.next:hover {
    opacity: 0.5;
}

.captcha-container {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 0.5;
    font-size: 15px;
}






/* Footer */
footer {
    background-color: #000000;
    padding: 60px 0;
    box-sizing: border-box;
    position: relative;

}

.foot-logo {
    padding: 40px;
}
.fuberlogo{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    font-family: sans-serif;
}

.socialMedia {
    padding-top: 30px;
    padding-left: 70px;
}
.footer-links {
    list-style: none;
    margin: 20px 0;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    display: block;
    width: 195px;
    height: 50px;
    background: black;
    color:white;
}

.footer-links li a i {
    line-height: 50px;
}

.footer-links li a i:hover {
    opacity: 0.4;
}

.application {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.app {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition-property: backgroundSize;
    -moz-transition-property: backgroundSize;
    transition-property: backgroundSize;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: underline;
    text-underline-position: under;
    will-change: background-size;
    background-size: 0% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-image: none;
    padding: 40px;
    
}

.fplay{
    width: 155px;
}

.fapp{
    width: 140px;
}
img {
    min-width: 128px;
    margin: 4px;
}

.copyrights
{
    grid-column: span 3;
    width: 100%;
    -ms-grid-row-align: center;
    align-self: center;
    display: -ms-grid;
    display: grid;
    order: 0;
    box-sizing: border-box;

}

.fcopyrights {

        color: #AFAFAF;
        font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;

}