html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    /* width: 95%;
    height: 25%; */
    margin: auto;
    background-color: black;
    height: 64px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;

} 

.li-unstyled  {
    list-style-type: none;
}

/* Header */

header .header-content{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}

.header-content{
    width: 95%;
}

.uberlogo {
    padding-left: 50%;
}

.header-content ul li{
    display: inline-block;
}

nav {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #E2E2E2;
    background-color: #000000;
    position: relative;
    z-index: 2002;
    height: 64px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    top: 0;
}
.uberlogo{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
}

.signbut:hover{
    opacity: 0.5;
}

.logbut:hover{
    opacity: 0.5;
}
.signbut{
    transition: opacity .5s;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #000000;
    background-color: #FFFFFF;
    white-space: nowrap;
}

.logbut{
    transition: opacity .5s;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #FFFFFF;
    background-color: #000000;
    white-space: nowrap;
}

/* secion1 */

.section1{
    width: auto;
    height: auto;
    /* margin: 40px 50px; */

}
.body{
    /* position: relative; */
    display: block;
    background-color: #f6f6f6;


}
.header{
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f6f6f6;
    display: table;
}

.bi{
    display:block;
    width: 50%;
    float: right;
    padding-left:0 ;
    padding: 0;
    grid-column: 1/-1;
    margin-right: 0;
    margin-left: 0;
    cursor: default;
    display: table-cell;
}

.header .bi img{
    /* display: block; */
    width: 100%;
    height: 100%;
    transform: scaleX(1);
    padding-bottom: 0px;
}
.bh{
    background-color: #f6f6f6;
    display:inline-block;
    width: 50%;
    padding-top: 100px;
    padding-left: 7%;
    padding-right:0 ;

}
.bh h1{
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: sans-serif;
    font-size: 200%;
    line-height: 3;
    /* color: currentColor; */
    margin: 0;
    width: 100%;
    opacity: 0.8;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    display: table-cell;

}

/* secion2 */

.section2{
    width: auto;
    height: auto;
    margin: 40px 50px;
}

.login{
    display: block;
}
.driver{
    /* display: inline; */
    padding-top: 100px  ;
    padding-bottom: 100px;
    display: flex;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.rider{
    /* display: inline; */
    padding-top: 100px  ;
    padding-bottom: 100px;
    display: flex;
    border-bottom: 1px solid #000000;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.signdriver {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    /* margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0.5px;
    margin-inline-end: 0px;  */
}


.signrider {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.driver:hover {
    opacity: 0.5;
}

.rider:hover {
    opacity: 0.5;
}


/* Footer */
footer {
    background-color: #000000;
    padding: 60px 0;
    box-sizing: border-box;
    position: relative;

}

.footlogo {
    padding: 40px;
}
.fuberlogo{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    font-family: sans-serif;
}

.socialMedia {
    padding-top: 30px;
    padding-left: 70px;
}
.footer-linkes {
    list-style: none;
    margin: 20px 0;
}

.footer-linkes li {
    display: inline-block;
}

.footer-linkes li a {
    display: block;
    width: 195px;
    height: 50px;
    background: black;
    color:white;
}

.footer-linkes li a i {
    line-height: 50px;
}

.footer-linkes li a i:hover {
    opacity: 0.4;
}

.application {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.app {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition-property: backgroundSize;
    -moz-transition-property: backgroundSize;
    transition-property: backgroundSize;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: underline;
    text-underline-position: under;
    will-change: background-size;
    background-size: 0% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-image: none;
    padding: 40px;
    
}

.fplay{
    width: 155px;
}

.fapp{
    width: 140px;
}
img {
    min-width: 128px;
    margin: 4px;
}

.copyrights
{
    grid-column: span 3;
    width: 100%;
    -ms-grid-row-align: center;
    align-self: center;
    display: -ms-grid;
    display: grid;
    order: 0;
    box-sizing: border-box;

}

.fcopyrights {

        color: #AFAFAF;
        font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;

}